* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: "Rubik";
  src: url(/fonts/Rubik-Light.ttf);
}
body {
  font-family: "Rubik";
}
